.cardfoto {
    border: 1px solid #ddd; /* Borde de la tarjeta */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Para evitar que el contenido sobresalga */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    width: 300px; /* Ancho fijo del contenedor (ajústalo según tu necesidad) */
    height: 500px; /* Altura fija del contenedor */
    max-width: 100%; /* Asegura que no crezca más allá del tamaño del contenedor padre */
    position: relative; /* Permite el posicionamiento absoluto de la imagen */
    display: inline-block;
}

.cardfoto img {
    width: 100%; /* Imagen de ancho completo */
    height: 100%; /* Imagen de altura completa */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin deformarse */
    position: absolute; /* Permite que la imagen se posicione dentro del contenedor */
    top: 0; /* Alinea la imagen a la parte superior del contenedor */
    left: 0; /* Alinea la imagen a la parte izquierda del contenedor */
    display: block; /* Asegura que la imagen sea un bloque */
}

.cardpro {
    border: 1px solid #ddd; /* Borde de la tarjeta */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Para evitar que el contenido sobresalga */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    width: 150px; /* Ancho fijo del contenedor (ajústalo según tu necesidad) */
    height: 150px; /* Altura fija del contenedor */
    max-width: 100%; /* Asegura que no crezca más allá del tamaño del contenedor padre */
    max-width: 500px; /* Ancho máximo de la tarjeta */
}

.cardpro img {
    width: 100%; /* Imagen de ancho completo */
    height: 100%; /* Imagen de altura completa */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
    display: block; /* Asegura que la imagen sea un bloque */
}

@media (max-width: 768px) { /* Ajusta el valor según el tamaño en el que consideres móviles */
    .cardpro {
        width: 75px; /* Ancho de la tarjeta en móviles (ajústalo según tu necesidad) */
        height: 75px; /* Altura de la tarjeta en móviles */
    }
}
/* Estilo para el contenedor de carga */
        .loading {
            display: none; /* Ocultar por defecto */
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.7);
            justify-content: center;
            align-items: center;
            z-index: 10; /* Asegurar que esté encima */
        }
        
        .spinner {
            border: 8px solid rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            border-top: 8px solid #ff5733;
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        
.button-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.bottom-button {
    background: linear-gradient(45deg, #ff390f, #fd603f); /* Degradado en 45 grados */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background 0.3s ease;
}
.bottom-button2 {
    background: linear-gradient(45deg, #1237fd, #3f5dfd); /* Degradado en 45 grados */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background 0.3s ease;
}
.bottom-button3 {
    background: linear-gradient(45deg, #b3b3b3, #e4e4e4); /* Degradado en 45 grados */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background 0.3s ease;
}

.bottom-button:hover {
    background-color: #0056b3;
}
